/* Common styles */
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('izitoast/dist/css/iziToast.min.css');

/* Sections style */
@import url('./header.css');
